.country img {
    width: 100%;
}

.competitions{
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 8px;
    padding: 30px;

}

.competencia{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.competencia img {
    border: 1.5px solid #000;
    filter: brightness(100%);
    max-width: 70%;
}

.competencia > p, .competencia> span {
    color: #000;
    font-family: Qatar22;
    font-size: 20px;
    padding: 8px;
}

.btnSee{
    border: 2px solid #000;
    border-radius: 5px;
    bottom: 60%;
    cursor: pointer;
    padding: 12px;
    background-color: white;
    font-family: Qatar22;
    position: relative;
    opacity: 0;
}
.competencia:hover img {
    filter: brightness(55%);
    transition: .35s all;
}

.competencia:focus-within img {
    filter: brightness(55%);
}

.competencia:hover .btnSee {
    opacity: 1;
    transition: .5s all;
}

.competencia:hover .btnSee:hover {
    background-color: transparent;
    border: 2px solid #fff;
    color: white;
}
