

.navBar{
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.navbar-ul{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 25px;
    width: 50%;
}

.navbar-ul li, .navbar-ul button {
    cursor: pointer;
    font-family: Qatar22;
    font-size: 18px;
}
.icon-container > i{
    cursor: pointer;
    transform: scale(1.8);
}
.navbar-ul li::after{
    content: '';
    display: block;
    width: 0%;
}
.navbar-ul li:hover:after{
    transition: all .35s linear;
    width: 100%;
}

.navbar-ul button {
    padding: 10px;
}

.Conmebol nav{
    color: #c99e53;
}

.Conmebol nav button{
    background-color: #c99e53;
    border-radius: 8px;
    color: #003874;
    outline: 2px solid #c99e53;
}
.Conmebol nav ul li::after{
    border-bottom: 2px solid #c99e53;
}

.Conmebol nav button:hover{
    background-color: transparent;
    color: #c99e53;
    transition: all .35s ease;
}

.Conmebol .submenu {
    background-color: transparent;
    background-image: none;
}

.Conmebol .submenu ul {
    color: #003874;
    background-color: #c99e53;
    padding: 8px;
    position: relative;
    right: 25px;
}


.AFC nav{
    color: #fff;
}

.AFC .submenu ul {
    color: #00328d;
    background-color: #fff;
    padding: 8px;
    position: relative;
    right: 25px;
    width: 120px;
}

.AFC nav button{
    background-color: #fff;
    border-radius: 8px;
    color: #00328d;
    outline: 2px solid #fff;
}
.AFC nav ul li::after{
    border-bottom: 2px solid #fff;
}

.AFC nav button:hover{
    background-color: transparent;
    color: #fff;
    transition: all .35s ease;
}

.AFC .submenu{
    background-color: transparent;
}

.CAF nav{
    color: #f3ca0c;
}

.CAF nav button{
    background-color: #f3ca0c;
    border-radius: 8px;
    color: #018839;
    outline: 2px solid #f3ca0c;
}
.CAF nav ul li::after{
    border-bottom: 2px solid #f3ca0c;
}

.CAF nav button:hover{
    background-color: transparent;
    color: #f3ca0c;
    transition: all .35s ease;
}

.CAF .submenu {
    background-color: transparent;
    background-image: none;
}

.CAF .submenu ul {
    color: #018839;
    background-color: #f3ca0c;
    padding: 8px;
    position: relative;
    right: 25px;
}


.Concacaf nav{
    color: #c99e53;
}

.Concacaf nav button{
    background-color: #c99e53;
    border-radius: 8px;
    color: #000;
    outline: 2px solid #c99e53;
}
.Concacaf nav ul li::after{
    border-bottom: 2px solid #c99e53;
}

.Concacaf nav button:hover{
    background-color: transparent;
    color: #c99e53;
    transition: all .35s ease;
}

.Concacaf .submenu {
    background-color: transparent;
    background-image: none;
}

.Concacaf .submenu ul {
    color: #000;
    background-color: #c99e53;
    padding: 8px;
    position: relative;
    right: 25px;
}


.OFC nav{
    color: #fff;
}

.OFC nav button{
    background-color: #fff;
    border-radius: 8px;
    color: #0067e5;
    outline: 2px solid #fff;
}
.OFC nav ul li::after{
    border-bottom: 2px solid #fff;
}

.OFC nav button:hover{
    background-color: transparent;
    color: #fff;
    transition: all .35s ease;
}

.OFC .submenu {
    background-color: transparent;
    background-image: none;
}

.OFC .submenu ul {
    color: #0067e5;
    background-color: #fff;
    padding: 8px;
    position: relative;
    right: 25px;
}


.UEFA nav{
    color: #fff;
}

.UEFA nav button{
    background-color: #fff;
    border-radius: 8px;
    color: #0a30ba;
    outline: 2px solid #fff;
}
.UEFA nav ul li::after{
    border-bottom: 2px solid #fff;
}

.UEFA nav button:hover{
    background-color: transparent;
    color: #fff;
    transition: all .35s ease;
}

.UEFA .submenu {
    background-color: transparent;
    background-image: none;
}

.UEFA .submenu ul {
    color: #0a30ba;
    background-color: #fff;
    padding: 8px;
    position: relative;
    right: 25px;
}


.FIFA nav{
    color: #fff;
}

.FIFA nav button{
    background-color: #fff;
    border-radius: 8px;
    color: #003870;
    outline: 2px solid #fff;
}
.FIFA nav ul li::after{
    border-bottom: 2px solid #fff;
}

.FIFA nav button:hover{
    background-color: transparent;
    color: #fff;
    transition: all .35s ease;
}

.FIFA .submenu {
    background-color: transparent;
    background-image: none;
}

.FIFA .submenu ul {
    color: #003870;
    background-color: #fff;
    padding: 8px;
    position: relative;
    right: 25px;
}


.main-screen nav{
    color: #c99e53;
}

.main-screen nav button{
    background-color: #c99e53;
    border-radius: 8px;
    color: #680a4d;
    outline: 2px solid #c99e53;
}
.main-screen nav ul li::after{
    border-bottom: 2px solid #c99e53;
}

.main-screen nav button:hover{
    background-color: transparent;
    color: #c99e53;
    transition: all .35s ease;
}

.icon-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 60px;
}
.icon{
    font-size: 25px;    
}

.submenu {
    background-color: #c99e53;

    color: #680a4d;
    display: none;
    top: 100%;
    left: -20px;
    padding: 8px;
    position: absolute;
}

.submenu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 14px;
}

.logout{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.submenu ul>li {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.icon-container:hover .submenu {
    display: block;
}

#cartSize{
    border-radius: 50%;
    font-family: Qatar22;
    font-size: 25px;
    margin-top: 2px;
    height: 100%;
    width: 25px;
    text-align: center;
}
.Overlay{
    background-color: rgba(0,0,0,0.8);
}

.carrito-list{

    background-color: #c99e53;
}
/*  */

.close svg {
    cursor: pointer;
    fill: #c99e53;
    font-size: 32px;
    transform: scale(1.5);
}

/* tr>svg {
    
} */